/* .Header{
    display: flex;
    justify-content: space-between;
    border:2px solid red;
}

img{
    width: 110px;
}
.nav-items > ul {
    display: flex;
    padding: 0px 20px;
    list-style-type: none;
}

.nav-items>ul>li{
    padding:10px;
    margin:10px;
}

.res-logo{
    width: 180px;
}

.res-card{
    display: flex;
    flex-wrap: wrap;
}
.restraunt-card{
    margin:5px;
    width: 180px;
    background-color: #f0f0f0f0;
}
.restraunt-card:hover{
    border: 1px solid black;
    cursor: pointer;
}

.Shimmer-cards{
    display: flex;
    flex-wrap: wrap;
}

.shimmer{
    width: 180px;
    height: 250px;
    margin:5px;
    background-color: #f0f0f0f0;

}

.Login-Logout{
    cursor: pointer;
}

.user-info{
    margin : 10px;
    border:2px solid black;
}
    
*/

@tailwind base;
@tailwind components;
@tailwind utilities;